main {
    width: 65dvw;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.name-config {
    padding: 1.5rem;
}

.configs {
    margin-top: 1rem;
    width: 100%;
}

.config {
    border-top: 1px solid var(--text);
    cursor: pointer;
}

.config:last-of-type {
    border-bottom: 1px solid var(--text);
}

.config > div {
    display: none;
}