main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80dvh;
}

section {
    width: 65dvw;
}

p {
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    width: 65%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.dev-name {
    font-size: 2.7em;
    font-weight: 800;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    width: fit-content;
    text-decoration: none;
}

.dev-last {
    font-weight: 800;
    background-clip: text;
    background-image: var(--accent);
    background-size: 100%;
    color: transparent;
}

.dev-name:hover {
    background-image: var(--accent);
    background-clip: unset;
    background-size: 100%;
    color: white;
    cursor: pointer;
}

.dev-name:hover > b {   
    color: white;
    cursor: pointer;
}
