:root {
    --accent: linear-gradient(
        90deg,
        rgb(68, 105, 160),
        rgb(51, 59, 150),
        rgb(104, 45, 153),
        rgb(101, 11, 123)
    );
    --accent-background: linear-gradient(
        90deg,
        rgb(20, 30, 46),
        rgb(23, 27, 68),
        rgb(48, 20, 71),
        rgb(56, 6, 68)
    );
    --text: #000;
    --trans-dur: 0.1s;
    --trans-timing: cubic-bezier(0.76, 0.05, 0.24, 0.95);
    --trans-timing-in: cubic-bezier(0.76, 0.05, 0.86, 0.06);
    --trans-timing-out: cubic-bezier(0.05, 0.76, 0.06, 0.86);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", "Roboto", sans-serif;
    color: var(--text);
    fill: var(--text);
}

body {
    margin: 4rem;
    background-color: white;
}

body:has(.switch_input:checked) {
    background-image: var(--accent-background);
    background-size: 100%;
    color: white;
}

:root:has(.switch_input:checked) {
    --text: #fff;
    --accent: linear-gradient(
        90deg,
        rgb(118, 168, 244),
        rgb(124, 134, 245),
        rgb(158, 113, 248),
        rgb(133, 88, 249)
    );
}

a {
    text-decoration: none;
}

a:hover {
    background-clip: text;
    background-image: var(--accent);
    background-size: 100%;
    color: transparent;
    cursor: pointer;
}

.d-none {
    display: none;
}

.switch {
    margin: auto;
    position: absolute;
    top: 2em;
    left: 4em;
}

.switch_icon,
.switch_input {
    display: block;
}

.switch_icon {
    position: absolute;
    top: 0.275em;
    left: 1.5em;
    width: 0.75em;
    height: 0.75em;
    transition: opacity calc(var(--trans-dur) / 2),
        transform calc(var(--trans-dur) / 2);
}

.switch_icon polyline {
    transition: stroke-dashoffset calc(var(--trans-dur) / 2);
}

.switch_icon--light,
.switch_icon--light polyline {
    transition-delay: calc(var(--trans-dur) / 2);
    transition-timing-function: var(--trans-timing-out);
}

.switch_icon--dark {
    opacity: 0;
    transform: translateX(-0.75em) rotate(30deg) scale(0.75);
    transition-timing-function: var(--trans-timing-in);
}

.switch_input {
    background-color: white;
    border-radius: 0.75em;
    outline: transparent;
    position: relative;
    width: 3em;
    border: 1px #000 solid;
    height: 1.5em;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--trans-dur) var(--trans-timing),
        box-shadow 0.15s linear;
}

.switch_input:before,
.switch_input:after {
    content: "";
    display: block;
    position: absolute;
}

.switch_input:before {
    border-radius: inherit;
    mask-image: linear-gradient(
        120deg,
        hsl(0, 0%, 0%) 20%,
        hsla(0, 0%, 0%, 0) 80%
    );
    -webkit-mask-image: linear-gradient(
        120deg,
        hsl(0, 0%, 0%) 20%,
        hsla(0, 0%, 0%, 0) 80%
    );
    inset: 0;
    transition: background-color var(--trans-dur) var(--trans-timing);
}

.switch_input:after {
    background-color: hsl(0, 0%, 0%);
    border-radius: 50%;
    top: 0.05em;
    left: 0.115em;
    width: 1.25em;
    height: 1.25em;
    transition: background-color var(--trans-dur) var(--trans-timing),
        transform var(--trans-dur) var(--trans-timing);
    z-index: 1;
}

.switch_input:checked {
    background-image: var(--accent);
    background-size: 100%;
    border: none;
}

.switch_input:checked:after {
    background-color: hsl(0, 0%, 100%);
    transform: translateX(1.5em);
    top: 0.125em;
}

.switch_input:checked ~ .switch_icon--light,
.switch_input:checked ~ .switch_icon--light polyline {
    transition-delay: 0s;
    transition-timing-function: var(--trans-timing-in);
}

.switch_input:checked ~ .switch_icon--light {
    opacity: 0;
    transform: translateX(-0.75em) rotate(-30deg) scale(0.75);
}

.switch_input:checked ~ .switch_icon--light polyline {
    stroke-dashoffset: 1.5;
}

.switch_input:checked ~ .switch_icon--dark {
    opacity: 1;
    transform: translateX(-1.25em);
    transition-delay: calc(var(--trans-dur) / 2);
    transition-timing-function: var(--trans-timing-out);
}

.switch_sr {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
}

.lang-menu {
    width: 10em;
    text-align: right;
    font-weight: bold;
    position: absolute;
    top: 2em;
    right: 0em;
}

.lang-menu .selected-lang {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: left;
}

.lang-menu .selected-lang > a {
    text-decoration: none;
    width: 10em;
    padding: 0px 10px;
    display: block;
    cursor: pointer;
}

.lang-menu .selected-lang:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: 3px;
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 1.7em;
    right: 1.4em;
    width: 10em;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 10em;
    padding: 5px 10px;
    display: block;
    color: #000;
}

.lang-menu ul li a:hover {
    color: transparent;
}

.lang-menu ul li a:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

.pt-br:before {
    background-image: url(https://flagdownload.com/wp-content/uploads/Flag_of_Brazil-64x45.png);
}

.en:before {
    background-image: url(https://flagdownload.com/wp-content/uploads/Flag_of_United_States-64x34.png);
}

.lang-menu:hover ul {
    display: block;
}

@media print {
    * {
        font-size: 12px;
        --text: #000;
    }

    .d-print-block {
        display: block;
    }

    .no-print {
        display: none;
    }

    h1 > * {
        font-size: 24px;
    }

    small {
        font-size: 10px;
    }

    body {
        margin: 0;
    }
}
